DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=notifyhub_db
DB_PORT=3306

PORT=5000
NODE_ENV=development

# Slack integration
SLACK_CLIENT_ID=
SLACK_CLIENT_SECRET=
SLACK_SIGNING_SECRET=
SLACK_BOT_TOKEN=
SLACK_REDIRECT_URI=
SLACK_EVENTS_URL=

# Gmail integration
GMAIL_CLIENT_ID=
GMAIL_CLIENT_SECRET=
GMAIL_REDIRECT_URI=
GMAIL_EVENTS_URL=

